.App {
 height: 100vh;
  box-shadow: inset;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.container {
 
  width: 500px;
  border: 1px solid hwb(0 86% 14%);
  border-radius: 20px;
  position: relative;
  box-shadow: #d6d6d6 1px 1px 4px 4px;

}


.logo {
  margin-top: 40px;
  margin-bottom: 50px;

}

.input {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.checkBox {
  display: flex;
  align-items: center;
  border: 1px solid hwb(0 82% 18%);
  justify-content:space-around;
  border-radius: 5px;
  width: 500px;
  height: 40px;


}