.login-page-wrapper {
    background-color: #fafafa;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-form {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    width: 35%;
    
}

.login-form a {
   text-decoration: none;
   color:#1976d2
}


.create-account {
    margin: 30px;
}

.login-form h1{ 
    color:#1976d2
}