.candidates-details-container {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.details-title {
  width: 100%;
  background-color: #E8E8E8;
  text-align: left;
  padding: 10px 0px;
}
.details-title span {
  margin-left: 10px;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.rigth-column {
  margin-right: 40%;
}

@media screen and (max-width: 850px) {
  .rigth-column {
    margin-right: 5%;
  }
}
