/* 
 

.modal {
    display:flex;
      height:100vh;
      align-items:center;
      justify-content:center;
      font-family: Roboto,sans-serif!important;
      background-color:rgba(0,0,0,0.4);
    }
  
   
  
  .upload-box {
      background-color:white;
      color:#383838;
      display:flex;
      flex-direction:column;
      width:600px;
      height:400px;
      border:1px solid grey;
      border-radius:15px;
      position:relative;
   }
  
  .upload-box-title {
      display:flex;
      justify-content:space-between;
      margin:30px;
      font-size: 20px;
      font-weight: 500;
    }
  
  .box-container {
      display:flex;
      justify-content:center;
    }
  
  .btn-close {
      border:none;
      background-color:white;
    }
  
   
  
  .box {
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      width:250px;
      height:205px;
      border: 1px solid #E8E8E8;
      border-radius:15px;
      margin:8px;
      text-align:center;
      transition: background-color 0.3s ease-out;
    }
  
   
  
   
  
  .box:hover{
      background-color:         #F0F0F0;
      transition: background-color 0.3s ease-out;
      cursor: pointer
    }
  
  .box img {
      width:80px;
      height:80px;
      margin:10px;
    }
  
   
  
  .box span{
      color:#707070;
      line-height: 1.6;
      font-size:13px;
      font-weight:500;
  }
  
   
  
  .box h6 {
    font-size: 1rem; 
      margin-top: 0px;
      font-weight: 700!important;
  } */