.wrapper {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changes {
  width: 800px;
  border: 0.5px solid hwb(0 73% 27%);
  border-radius: 20px;


}

.p {

  font-weight: 200;
  font-size: .900rem;
  color: rgb(81, 81, 81);
}

.chenge {
  height: 50px;
  justify-content: space-between;
  border-top: 1px solid hwb(0 70% 30%);
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: '30px';
  opacity: 0.7;

  transition-duration: 0.4s;


}

.command-info {
  text-align: start;
  width: 130px;
}

.user-info {
  text-align: start;
  width: 200px;
}

.chenge:hover {
  background-color: rgb(234, 233, 233);
  opacity: 1;
}

.iconWrapper {
  margin: 15px;
  width: 70px;
  height: 70px;
  opacity: 0.7;
  background-color: #bbb;
  border-radius: 50%;
  transition-duration: 0.4s;
  object-fit: cover;
}

.iconWrapper:hover {
  background-color: rgb(234, 233, 233);
  opacity: 1;
}


.ProfilePicture {
  justify-content: space-between;
  border-top: 1px solid hwb(0 0% 100%);
  margin-left: 40px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  gap: '30px';
}

.image {
  width: '70px';
  height: '70px';
  opacity: 0.7;
  transition-duration: 0.4s;
}

.route {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.inputWrapper {
  width: 600px;
  height: 400px;
  border: 1px solid hwb(0 70% 30%);
  border-radius: 20px;
  flex-direction: row;
}

.textWrapper {
  color: rgb(149, 149, 149);
  float: left;
  margin-top: 90px;
  margin-left: 50px;
}

.textFieldWrapper {
  margin-top: 50px;
  margin-left: 100px;
  width: 400px;

}

.buttonWrapperChange {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

.buttonWrapperDiscart{
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}

@media only screen and (max-width: 850px) {

  .buttonWrapperChange {
    margin-right: 40px;
    margin-top: 20px;
  }
  
  .buttonWrapperDiscart{
    margin-right: 20px;
    margin-top: 20px;
  }

  .changes {
    width: 330px;
    font-size: small;

  }

  .command-info {
    text-align: start;
    width: 95px;
  }

  .user-info {
    text-align: start;
    width: 95px;
  }

  .iconWrapper {
    height: 50px;
    width: 50px;
    margin: 25px;
  }

  .inputWrapper {
    width: 300px;
  }

  .textWrapper {
    margin-left: 20px;
    margin-top: 150px;
  }

  .textFieldWrapper {
    width: 250px;
    margin-left: 25px;
  }

  .inputWrapper {
    height: 600px;
  }


}