.profile-container {
  height:100vh;
  align-items:center;
  justify-content:center;
  font-family: Roboto,sans-serif!important;
}

.greething {
  font-size:40px;
  text-align:center;
   line-height :80px;
   color: #606060;
   }

.greething-username {
  font-size:40px;
  text-align:center;
   line-height :80px;
}

.box {
  width:218px;
  height:212px;
  border: 1px solid #E8E8E8;
  border-radius:15px;
  margin:8px;
  padding:15px;
  text-align:center;
  transition: background-color 0.3s ease-out;
}


.box:hover{
  background-color:         #F0F0F0;
  transition: background-color 0.3s ease-out;
  cursor: pointer
}

.box img {
  width:80px;
  margin:30px;
}

.box span{
  color:#707070;
  line-height: 1.6;
  font-size:13px;
  font-weight:500;
}

.create-candidate-box-container {
  margin-top:50px;
  display:flex;
 justify-content:center;
}

@media screen and  (max-width: 800px) {
  .create-candidate-box-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:50px;
  }

  .greething {
    display: none;
  }
}

.box h4 {
  margin:0
}