.summary-container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    row-gap: 8px;
    column-gap: 8px;
    padding:8px
}


@media screen and (max-width: 850px) {
    .summary-container {
        display: flex;
        flex-direction: column;
        padding:8px
    }
  }