a {
  color:#1976d2;
  text-decoration: none;
  margin-left: 5px;
}


.signUp-container {
  background-color:#fafafa;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}


.container {
  width: relative;
  width: 500px;
 
  border-radius: 20px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}


.logo {
  margin-top: 40px;
  margin-bottom: 50px;
}

.input {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.checkBox {
  display: flex;
  align-items: center;
  border: 1px solid hwb(0 82% 18%);
  justify-content:space-around;
  border-radius: 5px;
  width: 500px;
  height: 40px;
}