


.main {
  height: 100vh;
  box-shadow: inset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main a {
  text-decoration:none;
  color:#1976d2
}

.signup-container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  width: 500px;
  margin:20px;
  min-width: 300px;
}


.logo {
  margin-top: 40px;
  margin-bottom: 50px;

}

.input {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items:center
}

.checkBox {
  display: flex;
  align-items: center;
  border: 1px solid hwb(0 82% 18%);
  justify-content:space-around;
  border-radius: 5px;
  width: 500px;
  height: 40px;


}

@media screen and (max-width: 850px) {
  .signup-container {

    background-color: #fff;
    width: 88%;
    margin:20px;
    box-shadow: none;
  }
  .logo {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .input {
      display: flex;
      justify-content: center;
      margin: 10px;
      align-items:center;
   
    }
}