.skills-container {
  border: 1px solid#E0E0E0;
  border-radius: 5px;
  
}

.skills-title {
  width: 100%;
  background-color: #E8E8E8;
  text-align: left;
  padding: 10px 0px;
}

.skills-title span {
  margin-left: 10px;
}




.skill-item {
  display: inline-block;
  padding:5px;
  margin:3px
}
.skils-list {
  display: flex;
  justify-content: center;
  
  align-items:center

}

.footer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  
}